{% extends 'base.html' %} 
{% block title %}Delete-job{% endblock title %}
{% block content %}
<h1 class="text-5xl font-semibold font-body">Delete</h1>
<form action="{% url 'job_delete' job.slug %}" method="post">
   {% csrf_token %}
   <div class="flex items-center justify-center gap-4">
      <p class="font-semibold text-lg">Are you sure you want to delete "{{ jobs.title }}"?</p>
      <div><a href="{% url 'profile-page' user.slug%}" class="px-3 py-1 bg-green-100 text-green-500 rounded-full border border-green-400" style="box-shadow:0 0 5px">Cancel</a></div>
      <div><button type="submit" class="px-3  bg-red-100 text-red-500 rounded-full border border-red-400" style="box-shadow:0 0 5px">Confirm</button></div>
   </div>
</form>

{% endblock content %}
