{% extends 'base.html' %}
{% block title %}Jobs{% endblock title %}
{% block content %}

{% for jobs in jobss %}
<div>
    <div>
        {% comment %} <h2><a href="{{ jobs.get_absolute_url }}">{{ jobs.title }}</a></h2> {% endcomment %}
        <h2><a href="{% url 'jobs_detail' jobs.pk %}">{{ jobs.title }}</a></h2>
        <span>{{jobs.date}}</span>
        <h5>{{jobs.designation}}</h5>
        <span>{{jobs.location}}</span>
        <span>{{jobs.salary}}</span>
    </div>
    <div>
        {{ jobs.body }}
    </div>
</div>


    
<br />
{% endfor %}

{% endblock content %}
