{% extends 'base.html' %}
{% block title %}Terms and Conditions{% endblock title %}
{% block content %}
    <div class="mx-[10%] text-left my-4">
        <h1 class="font-bold text-3xl my-2">Terms and Conditions</h1>
        <p class="leading-7 text-[#3a3838] pl-4 text-[1.1rem]">These terms and conditions ("Agreement") govern your use of the job recruitment platform <span class="text-[#5d7060] font-semibold">"Recruitex"</span> operated by <span class="text-[#5d7060] font-semibold">Recruitex</span>.
            By accessing or using the Platform in any manner, you agree to be bound by this Agreement. Please read this Agreement carefully before 
            accessing or using the Platform. If you do not accept all of the terms and conditions of this Agreement, then you may not use the Platform.
        </p>
        <h1 class="font-bold text-3xl my-2">Definations</h1>
        <p class="leading-7 text-[#3a3838] pl-4 text-[1.1rem]">In this document, the following terms have the following meanings:</p>
        <ul class="list-disc pl-8 text-[1.1rem] mt-1">
            <li>"We", "us", "our" refers to the owners and operators of the job recruitment platform.</li>
            <li>"Platform" refers to the website, software, and services provided by us for job recruitment.</li>
            <li>"User" refers to any person who accesses or uses our platform.</li>
        </ul>
        <h1 class="font-bold text-3xl my-2">User Conduct</h1>
        <p class="leading-7 text-[#3a3838] pl-4 text-[1.1rem]">You agree to use our platform for lawful purposes only. You must not use our platform in any way that breaches any applicable laws or regulations, infringes any third-party rights, or causes harm or damage to us or any other person.</p>
        <br><p class="leading-7 text-[#3a3838] pl-4 text-[1.1rem]">You agree not to:</p>
        <ul class="list-disc pl-8 text-[1.1rem] mt-1">
            <li>Use our platform to transmit any harmful or malicious content such as viruses, malware, or other harmful software.</li>
            <li>Use our platform to transmit any unsolicited or unauthorized advertising or promotional material.</li>
            <li>Use our platform to engage in any activity that may interfere with or disrupt the operation of our platform or any servers or networks connected to our platform.</li>
            <li>Impersonate any person or entity or misrepresent your affiliation with any person or entity.</li>
        </ul>
        <h1 class="font-bold text-3xl my-2">User Acounts</h1>
        <p class="leading-7 text-[#3a3838] pl-4 text-[1.1rem]">To access some features of our platform, you may need to register for an account. You agree to provide accurate, current, and complete information when creating your account and to update your information promptly if there are any changes.
        </p><br>
        <p class="leading-7 text-[#3a3838] pl-4 text-[1.1rem]">You are responsible for maintaining the confidentiality of your account login credentials, including your username and password. You are also responsible for all activities that occur under your account, whether or not authorized by you. You agree to notify us immediately of any unauthorized use of your account.</p>
        <h1 class="font-bold text-3xl my-2">Intellectual Property</h1>
        <p class="leading-7 text-[#3a3838] pl-4 text-[1.1rem]">All content and materials on our platform, including but not limited to text, graphics, logos, icons, images, audio clips, and software, are the property of us or our licensors and are protected by copyright laws and other intellectual property laws.</p><br>
        <p class="leading-7 text-[#3a3838] pl-4 text-[1.1rem]">You may not reproduce, modify, distribute, or publicly display any content or materials from our platform without our prior written consent.</p>
        <h1 class="font-bold text-3xl my-2">Liability</h1>
        <p class="leading-7 text-[#3a3838] pl-4 text-[1.1rem]">Our platform is provided "as is" and without warranties of any kind, either express or implied. We do not warrant that our platform will be uninterrupted or error-free, nor do we make any warranties as to the accuracy, reliability, or suitability of the content or materials on our platform.</p><br>
        <p class="leading-7 text-[#3a3838] pl-4 text-[1.1rem]">In no event shall we be liable for any direct, indirect, incidental, special, or consequential damages arising out of or in connection with the use or inability to use our platform, whether based on contract, tort, strict liability, or any other legal theory.</p>
        <h1 class="font-bold text-3xl my-2">Indemnification</h1>
        <p class="leading-7 text-[#3a3838] pl-4 text-[1.1rem]">Our platform is provided "as is" and without warranties of any kind, either express or implied. We do not warrant that our platform will be uninterrupted or error-free, nor do we make any warranties as to the accuracy, reliability, or suitability of the content or materials on our platform.</p><br>
        <p class="leading-7 text-[#3a3838] pl-4 text-[1.1rem]">In no event shall we be liable for any direct, indirect, incidental, special, or consequential damages arising out of or in connection with the use or inability to use our platform, whether based on contract, tort, strict liability, or any other legal theory.</p>
        <h1 class="font-bold text-3xl my-2">Indemnification</h1>
        <p class="leading-7 text-[#3a3838] pl-4 text-[1.1rem]">You agree to indemnify and hold us harmless from any and all claims, damages, expenses, and liabilities, including attorneys' fees, arising out of or in connection with your use of our platform, your violation of these terms and conditions, or your violation of any rights of any other person or entity.</p>
        <h1 class="font-bold text-3xl my-2">Governing Law</h1>
        <p class="leading-7 text-[#3a3838] pl-4 text-[1.1rem]">These terms and conditions shall be governed by and construed in accordance with the laws of [insert governing law and jurisdiction]. Any disputes arising out of or in connection with these terms and conditions shall be resolved exclusively by the courts of [insert jurisdiction].</p>
        <h1 class="font-bold text-3xl my-2">Modifications</h1>
        <p class="leading-7 text-[#3a3838] pl-4 text-[1.1rem]">We reserve the right to modify these terms and conditions at any time without notice. Your continued use of our platform after any modifications to these terms and conditions shall constitute your acceptance of such modifications.</p>
        <h1 class="font-bold text-3xl my-2">Termination</h1>
        <p class="leading-7 text-[#3a3838] pl-4 text-[1.1rem]">We reserve the right to terminate your access to our platform at any time, with or without cause.</p>
    </div>
{% endblock content %}