{% extends 'base.html' %}
{% load static %}
{% block title %}Profiles{% endblock title %}
{% block profiles %}text-green-700 font-bold text-xl{% endblock profiles %}
{% block content %}
<div class="flex-col items-start justify-start">
    <div class="mb-4">
       <form>
          <input class="px-4 py-2 rounded-lg focus:outline-none" name="q" type="search" placeholder="Search" aria-label="Search">
          <button class=" bg-black p-2 text-white rounded-lg" type="submit">Search</button>
        </form>
    </div>
    <div class=" w-fit h-fit border pb-6 pt-4 px-6 flex justify-around mb-6 flex-wrap">
       {% for profile in profiles %}
    <a href="{{ jobs.get_absolute_url }}">
    <div class="border w-72 h-64 mx-2 mt-7" style="box-shadow: 5px 5px 10px #c5c5c5">
       <div class='flex w-full my-4 justify-around'>
          <img class="h-14 ml-3 mt-4" src="/media/{{profile.profile_photo}}" alt="">
          <div class="w-44 pt-5 flex-col items-start text-left">
             <h2 class="font-bold">{{ profile.username }}</h2>
             {% comment %} <span class="font-normal text-gray-400">{{profile.date}}</span> {% endcomment %}
          </div>
       </div>
       <div class="flex-col text-left w-full mx-8">
          <h5 class = "font-semibold text-xl">{{profile.major_skill}}</h5>
          <div class="flex gap-4 mt-4">
             <div class="px-3 py-1 w-3/5 bg-blue-100 text-blue-700 font-normal rounded-md" style="box-shadow: 0px 0.5px 10px #7594d5">
                <span>{{profile.interests}}</span>
             </div>
             {% comment %} <div class="px-3 py-1 bg-orange-100 text-orange-700 font-normal rounded-md" style="box-shadow: 0px 0.5px 10px #e69748">
                <span>{{profile.job_duration_type}}</span>
             </div> {% endcomment %}
          </div>
          <div class="flex gap-3 mt-5 text-gray-500">
             <div class="flex items-center">
                <img class="h-5" src="{% static 'images/location.png' %}" alt="">
                <span class="mx-2">{{profile.location}}</span>
             </div>
             <div class="flex items-center">
                <img class="h-5" src="{% static 'images/salary.png' %}" alt="">
                <span class="mx-2">{{profile.salary}}</span>
             </div>
          </div>
       </div>
    </div>
    </a>
    {% endfor %}
    </div>
 </div>
{% endblock content %}