<!-- templates/jobs_detail.html -->
{% extends 'base.html' %} 
{% load static %}
{% block title %}Job-Details{% endblock title %}
{% block content %}
<div class="flex w-full justify-evenly pl-8">
   <div class=" w-7/12 border-2 border-gray-50 py-10 px-8 text-left" >
      <div class="flex-col justify-start items-start ">
         <div class="flex justify-start">
            <img class = "h-20 border border-gray-100 p-3" src="/media/{{object.logo}}" alt="">
            <div class = "flex-col justify-center py-3 text-left ml-4">
               <h2 class=" font-semibold text-2xl">{{ object.title }}</h2>
               <p class="font-semibold text-sm text-gray-500 my-1">{{ object.date }}</p>
            </div>
         </div>
         <div class = "mt-3">
            <p class="font-semibold text-3xl">{{ object.designation }}</p>
         </div>
         <div class="mt-2 flex gap-8 mb-6">
            <div class="flex justify-start items-center py-3 gap-2">
               <img class="h-5" src="{% static 'images/loca.png' %}" alt="">
               <h2> {{object.location}} </h2>
            </div>
            <div class="flex justify-start items-center py-3 gap-2">
               <img class="h-5" src="{% static 'images/dollar.png' %}" alt="">
               <p>{{ object.salary }}</p>
            </div>
         </div>
         <div class="flex gap-2 mb-8 flex-wrap">
            {% for skill in object.skills_required.all %}
               <p class="p-2 px-3 border-2 border-[#8b9881ef] rounded-full"> {{skill}} </p>
            {% endfor %}
         </div>
      </div>
      <hr class = "border border-gray-100 mx-3 mb-14">
      <div class="">
         <h3 class="font-semibold text-3xl" >Minimum Qualifications</h3>
         <ul class = "list-disc px-10 my-3">
            <li class="pb-1 font-normal text-gray-700">4+ years of experience in webflow development</li>
            <li class="pb-1 font-normal text-gray-700">Exceptional visual and UI design skills, with a deep knowledge of best practice</li>
            <li class="pb-1 font-normal text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li class="pb-1 font-normal text-gray-700">Expert skill level using Figma</li>
            <li class="pb-1 font-normal text-gray-700">Nam feugiat enim a urna blandit ullamcorper. Nunc purus urna, auctor quis</li>
            <li class="pb-1 font-normal text-gray-700">Quisque sed est non erat ultricies condimentum sed quis nisi.</li>
            <li class="pb-1 font-normal text-gray-700">Fluent in English (spoken and written)</li>
         </ul>
      </div>
      <div>
         <h3 class="font-semibold text-3xl">Preferred Qualifications</h3>
         <ul class="list-disc px-10 my-3">
            <li class="pb-1 font-normal text-gray-700">Exceptional visual and UI design skills, with a deep knowledge of best practice</li>
            <li class="pb-1 font-normal text-gray-700">Quisque sed est non erat ultricies condimentum sed quis nisi.</li>
            <li class="pb-1 font-normal text-gray-700">Comfortable running workshops and gathering insight from the team</li>
            <li class="pb-1 font-normal text-gray-700">Quisque sed est non erat ultricies condimentum sed.</li>
         </ul>
      </div>
      <div class="mt-5">
         <h3 class="font-semibold text-3xl mb-3">About the Job</h3>
         <p class="text-base text-medium text-gray-600 leading-7 pl-2">{{object.about_job}}</p>
      </div>
      <div class="mt-5">
         <h3 class="font-semibold text-3xl mb-3">About the Company</h3>
         <p class="text-base text-medium text-gray-600 leading-7 pl-2">{{object.about_company}}</p>
      </div>
      <div class="mt-5 mb-7">
         <h3 class="font-semibold text-3xl mb-3">Working at <span class="text-orange-500 font-semibold">{{object.title}}</span> </h3>
         <p class="text-base text-medium text-gray-600 leading-7 pl-2">{{object.workings}}</p>
      </div>
      <hr id="apply" class = "border border-gray-100 mx-3 mb-10">
      <div>
         <h3 class="font-semibold text-3xl mb-4">Appy Job now</h3>
         <form class = "flex-col font-light"action="{% url 'job_details' object.slug%}" method='POST'>
            {% csrf_token %} 
            <p>{{form.first_name}}</p>
            <p>{{form.last_name}}</p>
            <p>{{form.email}}</p>
            <p>{{form.about_you}}</p>
            <p>{{form.why_you}}</p>
            <button class="w-full text-black m-2 py-2 text-xl bg-black text-white" type = "Submit"> Apply Now</button>
         </form>
      </div>
   </div>
   <div class = "w-1/4 border-2 border-gray-50 p-6 h-fit">
      <h3 class="font-semibold text-3xl text-left mb-4 font-sans">Location</h3>
      {% comment %} {{object.loaction}} {% endcomment %}
      <iframe src="{{object.embedded_location_url}}"  width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" frameborder="0"></iframe>
      <hr class = "border border-gray-100 mx-3 mb-4">
      <a href="#apply">
         <p class="w-full bg-black text-white py-1">Apply for Job</p>
      </a>
   </div>
</div>
<p class="my-4"><a href="{% url 'jobs_list' %}">Back to <span class="text-orange-600 text-lg font-md ">All jobs<span/></a>.</p>

{% endblock content %}
