{% extends 'base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'styles/login.css' %}">
{% endblock links %}
{% block content %}
<h2>Login</h2>
<form action="" method="post">{% csrf_token %}
    <div class="login-form">
        <div class="username">
            <p>{{form.username.label}}</p>
            {{form.username}}
        </div>
        <div class="password">
            <p>{{form.password.label}}</p>
            {{form.password}}
        </div>
    </div>
    <button type="submit">Login</button><br>
    <span><a href="{% url 'password_reset' %}">Forgot Password?</a></span>
</form>
{% endblock content %}