{% extends 'base.html' %}
{% load static %}
{% block login %}text-orange-500 font-semibold text-lg{% endblock login %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/dist/login.css' %}">
{% endblock links %}
{% block content %}
<h2 class = " font-serif font-medium text-4xl">Login</h2>
<form action="" method="post">{% csrf_token %}
    {% csrf_token %}
    <div class="login-form">
        <div class="username">
            <p>{{form.username.label}}</p>
            {{form.username}}
        </div>
        <div class="password">
            <p>{{form.password.label}}</p>
            {{form.password}}
        </div>
    </div>
    <button class="w-40 ml-7 p-2 text-lg rounded-3xl text-white center bg-black cursor-pointer" type="submit">Login</button><br>
    <span class="text-sm ml-7 font-extralight text-gray-600"><a href="{% url 'password_reset' %}">Forgot Password?</a></span>
</form>
{% endblock content %}