<!-- templates/registration/password_change_form.html -->
{% extends 'base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'styles/change-password.css' %}">
{% endblock links %}
{% block title %}Password Change{% endblock title %}
{% block content %}
    <h2>Password change</h2>
    <form method="POST">
    {% csrf_token %}
    <div class="change-form">
        <div class="old-password">
            <p>{{form.old_password.label}}</p>
            {{form.old_password}}
        </div>
        <div class="new-password">
            <p>{{form.new_password1.label}}</p>
            {{form.new_password1}}
        </div>
        <div class="confirm-password">
            <p>{{form.new_password2.label}}</p>
            {{form.new_password2}}
        </div>
    </div>

    <button type="submit">Change My Password</button><br>
    </form>
{% endblock content %}