{% extends 'base.html' %} 
{% load static %} 
{% block links %}
   {% comment %} <link rel="stylesheet" href="{% static 'styles/signup.css' %}" /> {% endcomment %}
   <link rel="stylesheet" href="{% static 'styles/sign-up.css' %}">
{% endblock links %} 
{% block content %}
   <h2 class="heading-tag">Create A New Account</h2>
   <div class="main">
      <div class="left">
         <div class="login-options">
            <div class="google logos">
               <img src="{% static 'images/google-logo.png' %}" alt="google logo">
               <p>SignUp with Google Account</p>
            </div>
            <div class="facebook logos">
               <img src="{% static 'images/facebook-logo.png' %}" alt="facebook logo">
               <p>SignUp with Facebook Account</p>
            </div>
         </div>
         <hr>
         <form class = "form-box" action="{% url 'signup' %}" method="post">
            {% csrf_token %} 
            <div class="form-inputs">
               {% if form.first_name.errors or form.last_name.errors or form.username.errors or form.email.errors or form.phone.errors or form.password1.errors or form.password2.errors%}
                  <div class="errors">
                     {{form.email.errors}}
                     {{form.password1.errors}}
                     {{form.password2.errors}}
                     {{form.phone.errors}}
                     {{form.first_name.errors}}
                     {{form.last_name.errors}}
                     {{form.username.errors}}
                  </div>
               {% endif %}
               <div class="names">
                  <div class="first_name {% if form.first_name.errors %} error{% endif %} ">
                     <p>{{form.first_name.label}}</p>
                     {{form.first_name}}
                  </div>
                  <div class="last_name {% if form.last_name.errors %} error{% endif %} ">
                     <p>{{form.last_name.label}}</p>
                     {{form.last_name}}
                  </div>
               </div>
               <div class="username {% if form.username.errors %} error{% endif %} ">
                  <p>{{form.username.label}}</p>
                  {{form.username}}
               </div>
               <div class="email {% if form.email.errors %}error{% endif %}">
                  <p>{{form.email.label}}</p>
                  {{form.email}}
               </div>
               <div class="phone {% if form.phone.errors %} error{% endif %} ">
                  <p>{{form.phone.label}}</p>
                  {{form.phone}}
               </div>
               <div class="password {% if form.password1.errors %} error{% endif %} ">
                  <p>{{form.password1.label}}</p>
                  {{form.password1}}
               </div>
               <div class="password-confirmation{% if form.password2.errors %} error{% endif %}">
                  <p>{{form.password2.label}}</p>
                  {{form.password2}}
               </div>
            </div>
            <button class="signup-button" type="submit">Sign Up</button>
            <span><a href="{% url 'login' %}">Already Have An Account?</a></span>
         </form>
      </div>
      <div class="right">
   
      </div>
   </div>
{% endblock content %}
